@media screen and (max-width: 600px) {
  #Header {
    background-color: #FFFF00;
    border: 3px solid white;
    width: 360px;
    text-align: center;
    max-width: 80%;
    margin: auto auto 20px auto;
    padding: 10px;
    border-radius: 10px;
    font-family: 'Indie Flower', cursive;
    font-size: 1.2em;
  }

  #MainBody {
    width: 400px;
    text-align: center;
    max-width: 100%;
    margin: 10px auto;
    background-image: url('../background.jpg')
  }

  .contestants {
    width: 90px;
    height: 90px;
    margin: 10px;
    max-width: 100%;
    border: 2px solid black;
    background-color: white;
    display: block;
  }

  #AnchorNode {
    float: left;
    display: inline-block;
    margin-right: 40px;
    margin-left: 40px;
  }

  .contestants:hover {
    border: 5px solid white;
  }

  #chart {
    margin-top: 30px;
    float: left;
    display: inline-block;
  }

  #myChart {
    width: 200px;
    height: 150px;
  }
}
