@media screen and (min-width: 601px) {
#Header {background-color: #FFFF00;border: 3px solid white;width: 760px;
text-align: center;max-width: 80%;margin: auto auto 20px auto;padding: 20px;
border-radius: 10px;font-family: sans-serif, cursive;}
#MainBody {width: 960px;text-align: center;max-width: 100%;margin: 10px auto;
background-image: url('../background.jpg')}.contestants {width: 250px;height: 250px;
margin: 20px;max-width: 100%;border: 2px solid black;background-color: white;}
.contestants:hover {border: 10px solid white;}#myChart {width: 500px;height: 350px;}}
@media screen and (max-width: 600px) {#Header {background-color: #FFFF00;
border: 3px solid white;width: 360px;text-align: center;max-width: 80%;margin: auto auto 20px auto;
padding: 10px;border-radius: 10px;font-family: sans-serif, cursive;font-size: 1.2em;}
#MainBody {width: 400px;text-align: center;max-width: 100%;margin: 10px auto;
background-image: url('../background.jpg')}
.contestants {width: 90px;height: 90px;margin: 10px;max-width: 100%;
border: 2px solid black;background-color: white;display: block;}
#AnchorNode {float: left;display: inline-block;margin-right: 40px;margin-left: 40px;}
.contestants:hover {border: 5px solid white;}#chart {margin-top: 30px;float: left;
display: inline-block;}#myChart {width: 200px;height: 150px;}}
@media screen and (max-width: 450px) {#Header {background-color: #FFFF00;
border: 3px solid white;width: 360px;text-align: center;max-width: 80%;margin: auto auto 20px auto;
padding: 10px;border-radius: 10px;font-family: sans-serif, cursive;font-size: 1.2em;}
#MainBody {width: 400px;text-align: center;max-width: 100%;margin: 10px auto;background-image: url('../background.jpg')}
#AnchorNode {float: none;display: block;}.contestants {width: 100px;height: 100px;margin: 10px;
max-width: 100%;border: 2px solid black;background-color: white;margin: 10px auto;text-align: center;}
.contestants:hover {border: 5px solid white;}#chart {float: none;display: block;
text-align: center;}#myChart {margin-top: 20px;width: 200px;height: 150px;}}
