@charset "utf-8";
@media screen and (min-width: 37.563em) {
    #Header {
  background-color: #FFFF00;
  border: 3px solid white;
  width: 47.5em;
  text-align: center;
  max-width: 80%;
  margin: auto auto 20px auto;
  padding: 20px;
  border-radius: 10px;
  font-family: sans-serif, cursive;}
    #MainBody {
  width: 60em;
  text-align: center;
  max-width: 100%;
  margin: 10px auto;
  background-color: #2A2C2B; }
    .contestants {
  width: 15.625em;
  height: 15.625em;
  margin: 20px;
  max-width: 100%;
  border: 2px solid black;
  background-color: white;}
    .contestants:hover {
  border: 10px solid white;}
    #myChart {
  width: 31.250em;
  height: 21.875em;
    }
    #street-view {
  height: 25%;
  width: 25%;
  z-index: 3;
    }
    .vacationHide {
  display: none
   }
    .vacation {
  display: block;
  width: 250px;
  border: 2px solid white;
  color: white;
    }
}
@media screen and (max-width: 37.500em) {
    #Header {
  background-color: #FFFF00;
  border: 3px solid white;
  width: 22.500em;
  text-align: center;
  max-width: 80%;
  margin: auto auto 20px auto;
  padding: 10px;
  border-radius: 10px;
  font-family: sans-serif, cursive;
  font-size: 1.2em;}
    #MainBody {
  width: 25.000em;
  text-align: center;
  max-width: 100%;
  margin: 10px auto;
  background-color: #2A2C2B;}
    .contestants {
  width: 5.625em;
  height: 5.625em;
  margin: 10px;
  max-width: 100%;
  border: 2px solid black;
  background-color: white;
  display: block;}
    #AnchorNode {
  float: left;
  display: inline-block;
  margin-right: 40px;
  margin-left: 40px;}
    .contestants:hover {
  border: 5px solid white;}
    #chart {
  margin-top: 30px;
  float: left;
  display: inline-block;}
    #myChart {
  width: 12.500em;
  height: 9.375em;
    }
    #street-view {
  height: 25%;
  width: 25%;
  z-index: 3;
    }
    .vacationHide {
  display: none
    }
    .vacation {
  display: block;
  width: 250px;
  border: 2px solid white;
  color: white;
    }
}
@media screen and (max-width: 28.125em) {
    #Header {
  background-color: #FFFF00;
  border: 3px solid white;
  width: 22.500em;
  text-align: center;
  max-width: 80%;
  margin: auto auto 20px auto;
  padding: 10px;
  border-radius: 10px;
  font-family: sans-serif, cursive;
  font-size: 1.2em; }
    #MainBody {
  width: 25.000em;
  text-align: center;
  max-width: 100%;
  margin: 10px auto;
  background-color: #2A2C2B;}
    #AnchorNode {
  float: none;
  display: block;}
    .contestants {
  width: 6.250em;
  height: 6.250em;
  margin: 10px;
  max-width: 100%;
  border: 2px solid black;
  background-color: white;
  margin: 10px auto;
  text-align: center; }
    .contestants:hover {
  border: 5px solid white;}
    #chart {
  float: none;
  display: block;
  text-align: center;}
    #myChart {
  margin-top: 20px;
  width: 12.5em;
  height: 9.375em;
    }
    #street-view {
  height: 25%;
  width: 25%;
  z-index: 3;
    }
    .vacationHide {
  display: none
    }
    .vacation {
  display: block;
  width: 250px;
  border: 2px solid white;
  color: white;
    }
}
