
#Header {
  background-color: #FFFF00;
  border: 3px solid white;
  width: 760px;
  text-align: center;
  max-width: 80%;
  margin: auto auto 20px auto;
  padding: 20px;
  border-radius: 10px;
  font-family: 'Indie Flower', cursive;
}
#street-view {
  height: 25%;
  width: 25%;
}
#MainBody {
  width: 960px;
  text-align: center;
  max-width: 100%;
  margin: 10px auto;
  background-image: url('../background.jpg');
  z-index: 1;
}

.contestants {
  width: 300px;
  height: 300px;
  margin: 20px;
  max-width: 100%;
  border: 2px solid black;
  background-color: white;
}

.contestants:hover {
  border: 10px solid white;
}

.vacationHide {
  display: none
}
.vacation {
  display: block;
  width: 250px;
  border: 2px solid white;
  color: white; 
}
